a {
  font-weight: bold;
  text-decoration: none;
  color: #1a1a1a;
}

ul, li{
  list-style: none;
}

body {
  padding: 1em;
  background-color: #ebebeb;
  color: #1a1a1a;
  font-size: 25px;
  font-family: monospace;
}
body div {
  padding: 1em;
}
  
.dark-mode {
  background-color: #1a1a1a;
  color: #ebebeb;
}

.dark-mode a {
  color: #ebebeb;
}
  
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-family: monospace;
}
  
button {
  padding: 5px 10px;
  background-color: #9494944f;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

#navbar {
  overflow: hidden;
  z-index: 99;
  position: relative;
  top: 0;
  left: 0.5em;
  width: 100%;
  border-radius: 0.25em;
  border-style: dotted;
}