p, h1, h2, h3, h4, h5, a {
  font-family: monospace;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #1a1a1a;
}

body {
  background-color: #ebebeb;
  color: #1a1a1a;
  font-size: 25px;
  margin: auto;
  padding: 3em;
  max-width: 64em;
}
  
.dark-mode {
  background-color: #1a1a1a;
  color: #ebebeb;
}

.dark-mode a {
  color: #ebebeb;
}
  
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
  
button {
  padding: 5px 10px;
  background-color: #94949473;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

#navbar {
  overflow: hidden;
  z-index: 99;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.25em;
  border-style: dotted;
}